.element__like {
	background-image: url(../../../images/like.svg);
	background-color: white;
	height: 20.76px;
	width: 20.76px;
	background-repeat: no-repeat;
	transition: 0.3s linear;
	border: none;
	padding: 0;
}

.element__like:hover {
	opacity: .6;
	cursor: pointer;
}

.element__like:focus {
	outline: none;
}