.element__like {
	background-image: url(/images/like.svg);
	background-color: white;
	height: 18.13px;
	width: 20.76px;
	transition: 0.3s linear;
	border: none;
}

.element__like:hover {
	opacity: .6;
	cursor: pointer;
}

.element__like:focus {
	outline: none;
}