@import url(/blocks/form/__container/form__container.css);
@import url(/blocks/form/__input-container/form__input-container.css);
@import url(/blocks/form/__heading/form__heading.css);
@import url(/blocks/form/__item/form__item.css);
@import url(/blocks/form/__handlers/form__handlers.css);


.form {
	min-height: 330px;
	max-width: 430px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}


@media screen and (max-width: 450px) {
	.form {
		max-width: 240px;
		min-height: 270px;
	}
}