@font-face { 
	font-family: 'Inter'; 
	font-style:  normal; 
	font-weight: 400; 
	font-display: swap; 
	src: url("Inter-Regular.woff2?v=3.13") format("woff2"), 
	url("Inter-Regular.woff?v=3.13") format("woff"); 
} 

@font-face { 
	font-family: 'Inter'; 
	font-style:  normal; 
	font-weight: 700; 
	font-display: swap; 
	src: url("Inter-Bold.woff2?v=3.13") format("woff2"), 
	url("Inter-Bold.woff?v=3.13") format("woff"); 
} 

@font-face { 
	font-family: 'Inter'; 
	font-style:  normal; 
	font-weight: 900; 
	font-display: swap; 
	src: url("Inter-Black.woff2?v=3.13") format("woff2"), 
	url("Inter-Black.woff?v=3.13") format("woff"); 
}

.root {
	background-color: #000000;
	margin: auto;
}

.page {
	min-width: 300px;
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	font-family: 'Inter', 'Arial', 'sans-serif';
	-moz-osx-font-smoothing: grayscale; 
	-webkit-font-smoothing: antialiased; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%; 
	-moz-text-size-adjust: 100%; 
	text-rendering: optimizeLegibility;
}

.content {
	margin: 0 auto;
}

.header {
	max-width: 882px;
	margin: 45px auto 40px;
}

@media screen and (max-width: 880px) {
	.header {
		max-width: 580px;
	}
}

@media screen and (max-width: 580px) {
	.header {
		max-width: 320px;
		margin: 28px auto 42px;
	}
}

.logo {
	width: 142.01px;
	height: 33.4px;
}

@media screen and (max-width: 580px) {
	.logo {
		width: 103.74px;
		height: 24.4px;
		margin-left: 27px;
	}
}

.line {
	max-width: 882px;
}

@media screen and (max-width: 880px) {
	.line {
		max-width: 580px;
	}
}

@media screen and (max-width: 580px) {
	.line {
		max-width: 320px;
	}
}

.profile {
	max-width: 882px;
	margin: 0 auto 50px;
	display: flex;
}

@media screen and (max-width: 880px) {
	.profile {
		max-width: 580px;
		margin: 0 auto 38px;
	}
}

@media screen and (max-width: 580px) {
	.profile {
		max-width: 282px;
		margin: 0 auto 36px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.avatar {
	width: 120px;
	height: 120px;
	border-radius: 80px;
	margin-right: 30px;
}

@media screen and (max-width: 580px) {
	.avatar {
		margin: 0 0 14px 0;
	}
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(882px - 120px - 30px);
	box-sizing: border-box;
}

@media screen and (max-width: 580px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 280px;
		margin: 0 auto;
	}
}

.profile__info {
	max-width: 336px;
	min-height: 43px;
	margin-bottom: 16px;
	display: flex;
	align-items: center;
}

@media screen and (max-width: 880px) {
	.profile__container {
		margin: 0 0 36px;
	}
}

@media screen and (max-width: 580px) {
	.profile__container {
		text-align: center;
		margin: 0 auto 36px;
	}
}

.profile__name {
	font-family: Inter;
	font-style: normal;
	font-weight: 500;
	font-size: 42px;
	line-height: 56px;
	color: #FFFFFF;
	margin: 0 17px 0 0;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 880px) {
	.profile__name {
		font-size: 30px;
		margin: 0 5px 0 0;
	}
}

@media screen and (max-width: 580px) {
	.profile__name {
		font-size: 27px;
		width: 201px;
		margin: 0 1px 0 0;
	}
}

.edit-button {
	width: 24px;
	height: 24px;
	padding: 0;
	box-sizing: border-box;
	background-color: transparent;
	transition: 0.3s linear;
}

.edit-button:hover {
	opacity: .8;
 }

 .edit-button:focus {
	outline: none;
 } 


.profile__about {
	font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
max-width: 318px;
margin: 0;
text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 880px) {
	.profile__about {
		font-size: 16px;
line-height: 19px;
	}
}

@media screen and (max-width: 580px) {
	.profile__about {
		font-size: 14px;
line-height: 17px;
	}
}

.add-button {
	border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 2px;
width: 150px;
height: 50px;
transition: 0.3s linear;
}

.add-button:hover {
	opacity: .8;
 }


 .add-button:focus {
	outline: none;
 }
 

@media screen and (max-width: 580px) {
	.add-button {
		width: 282px;
	}
}

.elements {
	max-width: 882px;
min-height: 744px;
margin: 0 auto 66px;
}

.elements__cards {
margin: 0;
padding: 0;
display: grid;
grid-template-columns: repeat(auto-fill, 282px);
grid-template-rows: repeat(auto-fill, 361px);
gap: 21px 18px;
justify-content: center;
}

@media screen and (max-width: 580px) {
	.elements__cards {
		gap: 20px;
	}
}

.element {
	max-width: 282px;
	min-height: 361px;
	background: #FFFFFF;
	border-radius: 10px;
	list-style: none;
}

.element__image {
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 25px;
}

.element__name {
	max-width: 246px;
min-height: 23px;
line-height: 29px;
color: #000000;
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 auto;
}

.element__title {
	font-family: Inter;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	margin: 0;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like {
	height: 18.13px;
	transition: 0.3s linear;
}

.element__like:hover {
	opacity: .8;
 }

 .element__like:focus {
	outline: none;
 }

.footer {
	max-width: 882px;
	margin: 0 auto 60px;
}

.footer__copyright {
	font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
margin: 0 0 60px;
color: #545454;
}

@media screen and (max-width: 880px) {
	.footer {
		max-width: 580px;
margin: 0 auto 42px;
}
}

@media screen and (max-width: 580px) {
	.footer {
		max-width: 282px;
margin: 0 auto 36px;
}
}

@media screen and (max-width: 580px) {
	.footer__copyright {
		font-size: 14px;
line-height: 17px;
}
}

.popup {
	/*background: rgba(255, 255, 255, .95);
	position: fixed;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 430px;
	min-height: 330px;
	
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;*/

display: none;
top: 0;
left: 0;
bottom: 0;
right: 0;
position: fixed;
background: rgba(0, 0, 0, 0.5);
z-index: 100;
 }

.popup_opened {
	display: block;
}

 .popup__container {
margin: 0 auto;
position: fixed;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	max-width: 430px;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	background: #FFFFFF;
	box-sizing: border-box;
	font-family: Inter;
 }

 .form__container {
	margin: 0 auto;
 }
 
 /* Блок с иконкой, сворачивающей и раскрывающей секцию с формой */
 
 .popup__close {
	width: 40.7px;
height: 40.7px;
	background-color: transparent;
	position: absolute;
	top: -35px;
	right: -35px;
	display: flex;
	cursor: pointer;
	transition: 0.3s linear;
 }
 
 
 .popup__close:hover {
	opacity: .8;
	
 } 

 .popup__close:focus {
	outline: none;
 } 

 
 /* Поворот иконки, отвечающей за анимацию секции с формой */
 
 .form_is-closed .form__toggle-image {
	transform: rotate(45deg);
 }
 
 
 /* Заголовок формы */
 
 .form__heading {

	font-family: Inter;
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
color: #000000;
margin: 34px 64px 54px 36px;
max-width: 330px;
 }
 
 .form__heading_type_ctrl-el-heading {
	
	font-size: 20px;
	line-height: 30px;
	font-weight: normal;
 }

 .form__item_name {
	margin: 0 auto 29.74px;
	max-width: 358px;
 }

 .form__item_about {
	margin: 0 auto 48px;
 }
 
 /* Непосредственно форма */
 
 .form {
	min-height: 330px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
 }
 
 /* Стили всех элементов fieldset */
 
 .form__input-container {
	max-width: 358px;
	font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
padding: 0;
	margin: 0 auto;
	border: 0;
 }
 
 /* Линия-разделитель между fieldset'ами */
 
 .form__line {
	opacity: 0.2;
border-bottom: 1px solid #000000;
 }
 
 /* Общие стили для всех лейблов */
 
 .form__label {
	margin: 35px auto 0;
	font-size: 20px;
	line-height: 30px;
 }
 
 /* Общие стили для всех полей ввода */
  .form__item {
	border: 0;
	width: 100%;
	height: 27.26px;
	box-sizing: border-box;
	border-bottom: 1px solid #bcbcc4;
	padding: 0;
	font-family: inherit;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }
 
 .form__item:focus {
	outline-color: royalblue;
  }
 
 /* Замена цвета внешней линии при фокусе поля ввода */
 
 /* Стилизуем плейсхолдеры */
 
 /* Поля ввода */
 
 /* Селектор класса поля ввода основного текста {
	background: #fff;
	height: 150px;
	font-size: 14px;
	padding: 6px 6px 4px;
	border: 1px solid #bcbcc4;
 }
 */

 
 .form__label_direction_right {
	display: inline;
	font-size: 14px;
	line-height: 30px;
	margin-left: 10px;
 }
 
 /* Зона кнопок и сами кнопки */
 
 .form__handlers {
	display: flex;
	justify-content: center;
 }

 .submit__button {
margin: 0 auto 36.51px;
width: 358px;
transition: 0.3s linear;
 }

 .submit__button:hover { 
	opacity: .8; 
 }

 
 /* Общие стили для всех кнопок */
 /* .form__button {
	width: 50%;
	height: 40px;
	font-size: 14px;
	border: 0;
	margin: 0;
	padding-bottom: 5px;
	cursor: pointer;
	transition: opacity .4s;
	color: white;
	font-family: inherit;
 }
 
 .form__button:hover {
	opacity: .7;
 }
 */
 
 /* Замена цвета внешней линии при фокусе кнопки */
 
 /* Селектор кнопки отправки данных {
	background-color: #000;
 }
 */

 