.add-button {
	background-image: url(../../images/Add\ Button.svg Button.svg);
	background-color: black;
	background-repeat: no-repeat;
	border: 2px solid #FFFFFF;
	border-radius: 2px;
	width: 150px;
	height: 50px;
	transition: 0.3s linear;
	box-sizing: border-box;
}

.add-button:hover {
	opacity: .8;
}

.add-button:focus {
	outline: none;
}

@media screen and (max-width: 580px) {
	.add-button {
		width: 282px;
		background-image: url(../../images/Add\ Button\ Mobile.svg);
	}
}